<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sign Up</title>
</head>
<body class="auth-background">

<!-- header navigation bar -->
<nav class="navbar navbar-inverse fixed-top bg-faded navbar-toggleable-sm " >
    <div class="container">
        <h1 class="navbar-brand m-o align-content-end mr-auto">WELCOME TO YOUR SHOPPING LIST</h1>
        <div class="navbar-nav ">
        </div><!-- navbar-->
    </div><!-- container -->
</nav>

<!-- Sign Up form -->
<div class="container">
    <div class="login">

        <!-- media body-->
        <div class=" login-form">
            <h2 class="text-capitalize card-title mt-5">Register</h2>
          <form method="POST" action="/create">
            <div class="row">
                <div class="col">

                     <!-- First name input-->
                    <div class="control-group">
                        <label class="control-label">Firstname</label>
                        <div class="col">
                            <input type="text" class="form-input form-control" name="first_name" value="" />
                        </div><!--column-->
                    </div><!--form group-->

                       <!-- Last name input-->
                    <div class="control-group">
                        <label class="control-label">Lastname</label>
                        <div class="col">
                            <input type="text" class="form-input form-control" name="last_name" value="" />
                        </div><!--column-->
                    </div><!--form group-->

                    <!-- User name input-->
                    <div class="control-group">
                        <label class="control-label" >Username</label>
                        <div class="col">
                            <input type="text" class="form-input form-control" name="username" value="" />
                        </div><!--column-->
                    </div><!--form group-->

                    <!-- Email input-->
                    <div class="control-group">
                        <label class="control-label align-content-around" for="email">Email</label>
                        <div class="col">
                            <input type="email" class="form-control" id="email" required>
                        </div><!--column-->
                    </div><!--form group-->

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label align-content-around" for="password">Password</label>
                        <div class="col">
                            <input type="password" class="form-input form-control" name="password" value="" />
                        </div><!--column-->
                    </div><!--form group-->

                    <!-- Sign Up button-->
                    <div class="form-group text-center">
                        <input type="submit" value="Submit">

                        </p>
                    </div><!--form group-->
                </div><!--column-->
            </div><!--row-->
           </form>
        </div><!--container-->
    </div><!--row-->

</div>

  <!-- contents of footer navigation bar -->
    <footer class="navbar fixed-bottom navbar-inverse navbar-toggleable-sm " >
        <div class="container">
            <span class="navbar-text ml-auto">&copy; Shopping List Inc All rights reserved</span>
        </div>

    </footer>

<script src="../static/js/jquery.slim.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>

<script type="text/javascript">
    function validate_inputs() {
        var username_value = document.forms["sign_up_form"]["username"].value;
        var password_value = document.forms["sign_up_form"]["password"].value;
        var confirm_password_value = document.forms["sign_up_form"]["confirm_password"].value;
        var first_name_value = document.forms["sign_up_form"]["first_name"].value;
        var last_name_value = document.forms["sign_up_form"]["last_name"].value;
        
        if (first_name_value.replace(" ", "") == "") {
            show_snack_bar("Please enter first name", 3000, "danger")
        }
        else if (last_name_value.replace(" ", "") == "") {
            show_snack_bar("Please enter Last name", 3000, "danger")
        }
        else if (username_value.replace(" ", "") == "") {
            show_snack_bar("Please enter username", 3000, "danger")
        }
        else if (username_value.replace(" ", "") != username_value || username_value.length < 3) {
            show_snack_bar("Username should not contain spaces and should be more than 3  characters long ", 3000, "danger")
        }
        else if (password_value == "") {
            show_snack_bar("Please enter password ", 3000, "danger")
        }
        else if (password_value != confirm_password_value) {
            show_snack_bar("Passwords dont match!", 3000, "danger")
        }
        else {
            document.getElementById("sign_up_form_id").submit();
        }
    }
    function show_snack_bar(message, duration, type) {
        var snack_bar = document.getElementById("snackbar")
        snack_bar.innerHTML='<p>'+message+'</p>';
        if (type == "danger") {
            snack_bar.className += ' danger-snackbar';
        }
        else {
            snack_bar.className += ' success-snackbar';
        }
        snack_bar.className += " show";
        setTimeout(
            function() { 
                snack_bar.className = snack_bar.className.replace(" show", "").replace(" danger-snackbar", "").replace(" success-snackbar", ""); 
            }, duration);
    }
</script>
