<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Edit item</title>
</head>
<body >
<div class="container">
<div class="row">
     <div class="container new_list_background card col-6" >
        <h2 class="text-capitalize card-title mt-1">Edit item</h2>
        <div class="row">
            <div class="col">
                <!-- List item content-->
                 <form  method="POST" action="/edit_item" name="create_form" class="register-form">

                     <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Item Category Name:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="item" name="list_title">
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="item">Old ITEM:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="item" name="old_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">NEW ITEM:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="item" name="new_name">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label col-sm-2" for="item">Price:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="item" name="price">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div>
                            <button class="btn btn-info " type="submit">Save Item</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
<!-- contents of footer navigation bar -->


</div>
</div>
</body>

</html>