<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Edit List</title>
</head>
<body >
<div class="container">
<div class="row">
     <div class="container new_list_background card col-6" >
        <h2 class="text-capitalize card-title mt-1">Edit List</h2>
        <div class="row">
            <div class="col">
            <form method="POST" class="form-horizontal" action="/edit_shopping_list" >
                <!-- List item content-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item">Name:</label>
                    <div class="col">
                        <input type="text" name="old_title" class="form-control" id="item" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="item"> Enter new title:</label>
                    <div class="col">
                        <input type="text" name ="new_title"class="form-control" id="item" >
                    </div>
                </div>

        
                <div class="form-group">
                    <div>
                        <button class="btn btn-info " type="submit">Save Changes</button>
                        <button class="btn btn-info " type="submit">Cancel</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

    </div>
<!-- contents of footer navigation bar -->


</div>
</div>
</body>

</html>