<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">

     <link rel="stylesheet" href="css/style.css">
    <title>Log In</title>
</head>
<body>
<!-- header navigation bar -->
<nav class="navbar navbar-inverse fixed-top bg-faded navbar-toggleable-sm " >
    <div class="container">
        <h1 class="navbar-brand m-o align-content-end mr-auto">WELCOME TO YOUR SHOPPING LIST</h1>
        <div class="navbar-nav ">
        </div><!-- navbar-->
    </div><!-- container -->
</nav>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
              <form method="POST" action="{{url_for('login')}}" name="login_form" class="register-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

			   <input type="submit" value="submit">
			  </form>
				<a class="login-link" href="{{url_for('create')}}">create new account</a>
			</div>
		</div>
	</div>

  <!-- contents of footer navigation bar -->
    <footer class="navbar fixed-bottom navbar-inverse navbar-toggleable-sm " >
        <div class="container">
            <span class="navbar-text ml-auto">&copy; Shopping List Inc All rights reserved</span>
        </div>

    </footer>

</body>
</html>

